FomClient/FomClient/Service References/ClienteService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Passagens.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_GetClienteByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByName" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClienteByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AdicionarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarCliente" />
  </wsdl:message>
  <wsdl:message name="IClientService_AdicionarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="GetClienteByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetClienteByName" message="tns:IClientService_GetClienteByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetClienteByNameResponse" message="tns:IClientService_GetClienteByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AdicionarCliente" message="tns:IClientService_AdicionarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AdicionarClienteResponse" message="tns:IClientService_AdicionarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetClientes" message="tns:IClientService_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetClientesResponse" message="tns:IClientService_GetClientes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClienteByName">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetClienteByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarCliente">
      <soap:operation soapAction="http://tempuri.org/IClientService/AdicionarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost:8080/cliente" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>